<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
<div id="app">
  <h2> {{product}} are in stock </h2>
  <ul>
    <li v-for="item in items"> {{item}} </li>
  </ul>
  
  <ul>
    <li v-for="thing in things"> {{thing}} </li>
  </ul>
  
   <ul>
    <li v-for="thing in things"> {{thing.name}}  </li>
  </ul>


  
   <ul>
    <li v-for="thing in things"> {{thing.name}}  {{thing.quantity}} </li>
  </ul>

  
  <ul>
    <li v-for="thing in things"> {{thing.name}}  {{thing.quantity}} 
    <span v-if="thing.quantity==0" style="color: #f00;">
    	out of stock
    </span>
    </li>
  </ul>
  
  
  <ul>
    <li v-for="thing in things">
    
         <input type="text" v-model.number="thing.quantity"></input>
 
    {{thing.name}}  {{thing.quantity}} 
    <span v-if="thing.quantity==0" style="color: #f00;">
    	out of stock
    </span>
  <button @click="thing.quantity+=1">Add</button>
      
        </li> 
  </ul>
  
  
  
  
  Total Inventory: {{totalThings}}

  

  
      
</div>
<script type="text/javascript">
const app = new Vue({
	el: '#app',
	data:{
		product: 'boots',
		items:[
			'item1',
			'item2',
			'item3',
			'item4'
		],
		things:[]
	},

	created(){
	fetch('https://api.myjson.com/bins/74l63')
	.then(response => response.json())
	.then(json =>{
		this.things = json.products;
	})
	},
	
	computed: {

		totalThings(){
			return this.things.reduce((sum,thing)=>{return sum + thing.quantity},0);
		}

	}
	
	
	
	
});

	
</script>
</body>
</html>
